html {
  /* max-width: 1400px; */
}

body {
  width: 100%;
  font-size: 87.5%;
}

h1 {
  text-align: center;
}

.container-fluid {
  align-content: space-evenly;
}

/* .row {
  align-content: space-around;
} */
#about,
#work,
#services,
#contact,
#socialmedia {
  clear: both;
}

#hero-img {
  max-width: 1400px;
  max-height: 350px;
  display: block;
  margin: auto;
  width: 100%;
}

#about p {
  font-size: 1em;
}

#contact img {
  /* max-width: 100%; */
  max-height: 300px;
  display: block;
  margin: auto;
}

#contact p {
  text-align: center;
}

#social {
  max-width: 667px;
  width: 100%;
  max-height: 50px;
  margin: auto;
}

/* .about {
  max-height: 350px;
} */
.profile {
  max-width: 250px;
  max-height: 80%;
  width: 75%;
  align-items: center;
  /* vertical-align: middle;
  display: block;
  margin: auto; */
}

.mural-pics {
  align-content: space-evenly;
}